@(fileNames: List[String], result: String)


@main("Appsec Command Injection Testing") {
  <h1>Welcome to Appsec Scala Command Injection Testing!</h1>
  @for(name <- fileNames){
    <p>@name</p>
  }
  <form action="/delete">
    <div>
      <label for="filename">Enter the name of file to from the list above to delete</label>
      <input id="filename" type="text" name="filename" placeholder="Enter File Name">
      <button class="delete-btn">Delete</button>
    </div>
  </form>
  @if(result.length() > 0){
    <p>Result of previous command</p>
    <p>@result</p>
  }
}
